    .c-padding {
        padding: 30px 15px 0 15px;
    }
    
    .s-padding {
        padding-top: 6px;
    }
    
    .f-padding {
        padding-left: 65px;
    }
    
    .r-padding {
        padding-left: 20px;
        margin-top: 30px;
        word-wrap: break-word;
        word-break: normal;
    }
    
    .textWrap {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right:10px;
    }
    
    .buttonSpace {
        margin-left: 10px;
    }
    
    .iconcursor {
        cursor: pointer;
        padding-left: 10px;
    }
    
    .headericon {
        float: right;
    }
    
    .string {
        color: green;
    }
    
    .number {
        color: darkorange;
    }
    
    .boolean {
        color: blue;
    }
    
    .null {
        color: magenta;
    }
    
    .key {
        color: red;
    }
    
    .menu {
        border-bottom: 3px solid #e05b5b;
    }
    
    .menu_box {
        padding: 0 15px;
    }
    
    .megamenu {
        margin-bottom: 0px;
        padding: 0;
        width: 100%;
        list-style: none;
        display: inline-block;
        position: relative;
        font-size: 15px
    }
    
    .megamenu li {
        margin-bottom: -5px;
        display: inline
    }
    
    .megamenu>li>a {
        float: left;
        padding: 8px 10px;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 0.87em;
        -webkit-transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: #100802;
        font-weight: 500;
    }
    
    .megamenu>li.active>a {
        color: #fff;
        background: #e05b5b;
    }
    
    .megamenu>li.right {
        float: right
    }
    
    .megamenu .dropdown,
    .megamenu .dropdown li .dropdown {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        position: absolute;
        z-index: 999;
        width: 160px;
        border: solid 1px rgba(0, 0, 0, 0.1);
        background: #fff
    }
    
    .megamenu .dropdown {
        top: 59px
    }
    
    .megamenu .dropdown li .dropdown {
        left: 160px;
        top: inherit
    }
    
    .megamenu .dropdown li {
        clear: both;
        width: 100%;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1)
    }
    
    .megamenu .dropdown li:last-child {
        border-bottom: 0
    }
    
    .megamenu .dropdown li a {
        float: left;
        width: 100%;
        padding: 10px 25px;
        text-decoration: none;
        display: block;
        border: 0 none;
        font-size: 14px;
        color: #444;
        background: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        transition: color .4s ease-in-out;
        -moz-transition: color .4s ease-in-out;
        -webkit-transition: color .4s ease-in-out;
        -o-transition: color .4s ease-in-out
    }
    
    .megamenu .dropdown li:hover>a {
        background: #dbdbdb
    }
    
    .megamenu>li>.megapanel {
        position: absolute;
        display: none;
        text-align: left;
        background: #ffffff;
        box-shadow: 0px 2px 4px #777;
        width: 100%;
        top: 40px;
        left: 0px;
        z-index: 99;
        padding: 20px 30px 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    
    .megamenu .megapanel ul {
        margin: 0;
        padding: 0
    }
    
    .megamenu .megapanel img {
        cursor: pointer;
        -webkit-transition: border .3s linear;
        -moz-transition: border .3s linear;
        -o-transition: border .3s linear;
        transition: border .3s linear
    }
    
    .megamenu .megapanel img:hover {}
    
    .megamenu form.contact input,
    .megamenu form.contact textarea {
        font-family: Calibri, Arial;
        font-size: 16px;
        color: #444;
        outline: 0
    }
    
    .megamenu form.contact input[type="text"],
    .megamenu form.contact textarea {
        resize: none;
        width: 100%;
        margin: 10px 0;
        padding: 5px 10px;
        border: solid 1px #dedede;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: border .3s linear;
        -moz-transition: border .3s linear;
        -o-transition: border .3s linear;
        transition: border .3s linear
    }
    
    .megamenu form.contact input[type="text"] {
        height: 40px
    }
    
    .megamenu form.contact input[type="text"]:focus,
    .megamenu form.contact textarea:focus {
        border: solid 1px #999
    }
    
    .megamenu form.contact input[type="submit"] {
        width: 100px;
        height: 35px;
        border: 0;
        color: #fff;
        cursor: pointer;
        background: #999
    }
    
    .megapanel .row {
        width: 100%;
        margin-top: 15px;
        margin: 0px !important;
    }
    
    .megapanel .row:first-child {
        margin-top: 0
    }
    
    å .megapanel .row:before,
    .megapanel .row:after {
        display: table;
        content: "";
        line-height: 0
    }
    
    .megapanel .row:after {
        clear: both
    }
    
    .megapanel .row .col1,
    .megapanel .row .col2,
    .megapanel .row .col3,
    .megapanel .row .col4,
    .megapanel .row .col5,
    .megapanel .row .col6 {
        display: block;
        width: 100%;
        min-height: 20px;
        float: left;
        margin-left: 2.127659574468085%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
    
    .megapanel .row [class*="col"]:first-child {
        margin-left: 0
    }
    
    .megapanel .row .col1 {
        width: 25.893617021276595%
    }
    
    .megapanel .row .col2 {
        width: 43.914893617021278%
    }
    
    .megapanel .row .col3 {
        width: 48.93617021276595%
    }
    
    .megapanel .row .col4 {
        width: 65.95744680851064%
    }
    
    .megapanel .row .col5 {
        width: 82.97872340425532%
    }
    
    .megapanel .row .col6 {
        width: 100%
    }
    
    .megamenu>li.showhide {
        display: none;
        width: 100%;
        height: 50px;
        cursor: pointer;
        color: #555;
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
        background: #eee;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkYmRiZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, #eee 0, #dbdbdb 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee), color-stop(100%, #dbdbdb));
        background: -webkit-linear-gradient(top, #eee 0, #dbdbdb 100%);
        background: -o-linear-gradient(top, #eee 0, #dbdbdb 100%);
        background: -ms-linear-gradient(top, #eee 0, #dbdbdb 100%);
        background: linear-gradient(to bottom, #eee 0, #dbdbdb 100%);
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dbdbdb', GradientType=0)
    }
    
    .megamenu>li.showhide span.title {
        margin: 15px 0 0 25px;
        float: left
    }
    
    .megamenu>li.showhide span.icon1:after {
        position: absolute;
        content: "";
        right: 25px;
        top: 15px;
        height: 3px;
        width: 25px;
        font-size: 50px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        z-index: 1
    }
    
    .megamenu>li.showhide span.icon2:after {
        position: absolute;
        content: "";
        right: 25px;
        top: 27px;
        height: 3px;
        width: 25px;
        font-size: 50px;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        z-index: 1
    }
    
    .skyblue,
    .skyblue>li.showhide {}
    /*--.skyblue li>a,.skyblue>li.showhide span{color:#555}--*/
    
    .skyblue>li:hover>a,
    .skyblue .dropdown li:hover>a {
        color: #555;
        background: #ffffff;
    }
    
    . skyblue .megapanel img:hover,
    .skyblue form.contact input[type="text"]:focus,
    .skyblue form.contact textarea:focus {}
    
    .skyblue form.contact input[type="submit"] {
        background: #00405d;
        text-transform: uppercase;
    }
    
    @media(max-width:1024px) {
        .megamenu>li>a {
            padding: 8px 16px;
        }
    }
    
    @media(max-width:800px) {
        .megamenu>li>a {
            padding: 8px 8px;
        }
    }
    
    @media(max-width:768px) {
        .megamenu>li {
            display: block;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box
        }
        .megamenu>li:hover,
        .megamenu>li.active {
            border-top: 0
        }
        .megamenu>li>a {
            padding: 15px 25px;
            border-bottom: solid 1px #fff;
        }
        .megamenu>li:hover>a,
        .megamenu>li.active>a {
            padding: 15px 25px
        }
        .megamenu a {
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box
        }
        .megamenu .dropdown,
        .megamenu .dropdown li .dropdown {
            width: 100%;
            display: none;
            left: 0;
            border-left: 0;
            position: static;
            border: 0;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box
        }
        .megamenu .dropdown li {
            background: #fff!important;
            border: 0
        }
        .megamenu .dropdown>li>a {
            padding-left: 40px!important
        }
        .megamenu>li>.megapanel {
            position: static;
            margin-top: 50px
        }
        .megapanel .row [class*="col"] {
            float: none;
            display: block;
            width: 100%;
            margin-left: 0;
            margin-top: 15px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box
        }
        .megapanel .row:first-child [class*="col"]:first-child {
            margin-top: 0
        }
        .megapanel .row {
            margin-top: 0
        }
        .black {
            background: #222
        }
        .megamenu>li.showhide span.title {
            margin: 10px 0 0 15px;
            color: #fff;
        }
        .megamenu>li.showhide span.icon1:after {
            top: 12px;
            right: 15px;
        }
        .megamenu>li.showhide span.icon2:after {
            top: 23px;
            right: 15px;
        }
        .megamenu>li.showhide {
            height: 40px;
        }
        .skyblue,
        .skyblue>li.showhide {
            background: #e05b5b;
        }
        .megamenu>li.active>a {
            color: #fff;
        }
    }
    /* start megamenu colors */
    
    .skyblue li a.color1:hover {
        background: #EF5F21;
        color: #ffffff;
    }
    
    .skyblue li a.color2:hover {
        background: #589D3E;
        color: #ffffff;
    }
    
    .skyblue li a.color3:hover {
        background: #00ACED;
        color: #ffffff;
    }
    
    .skyblue li a.color4:hover {
        background: #D61F85;
        color: #ffffff;
    }
    
    .skyblue li a.color5:hover {
        background: #F89F1B;
        color: #ffffff;
    }
    
    .skyblue li a.color6:hover {
        background: #00677C;
        color: #ffffff;
    }
    
    .skyblue li a.color7:hover {
        background: #D5331D;
        color: #ffffff;
    }
    
    .skyblue li a.color8:hover {
        background: #00405d;
        color: #ffffff;
    }
    
    .skyblue li a.color9:hover {
        background: #9CB43A;
        color: #ffffff;
    }
    
    .skyblue li a.color10:hover {
        background: #26BC85;
        color: #ffffff;
    }
    
    .rslides {
        position: relative;
        list-style: none;
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    .header_top {
        background: #573c27;
    }
    
    .header-top-left {
        width: 54.5%;
        float: left;
        margin-top: 5px;
    }
    
    .header_top-box {
        padding: 0 15px;
    }
    
    .cssmenu ul li a {
        margin: 10px 5px;
    }
    
    .cssmenu ul {
        float: right;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    .cssmenu ul li {
        display: inline-block;
    }
    
    .cssmenu ul li a {
        color: #fff;
        display: block;
        margin: 10px;
        font-size: 0.8125em;
    }
    
    .cssmenu li> a:hover {
        color: #ACEAFA;
        text-decoration: none;
    }
    /* PREFIXED CSS */
    
    .dropdown,
    .dropdown div,
    .dropdown li,
    .dropdown div::after,
    .dropdown .carat,
    .dropdown .carat:after,
    .dropdown .selected::after,
    .dropdown:after {
        -webkit-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -ms-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
    }
    
    .dropdown .selected::after,
    .dropdown.scrollable div::after {
        -webkit-pointer-events: none;
        -moz-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
    }
    /* WRAPPER */
    
    .dropdown {
        position: relative;
        width: 80px;
        cursor: pointer;
        font-weight: 200;
        background: none;
        padding: 8px 15px 5px;
        color: #fff;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    
    .dropdown.open {
        z-index: 2;
    }
    
    .dropdown:hover,
    .dropdown.focus {
        /*--background:#F7F7F7;--*/
    }
    
    .copyrights {
        text-indent: -9999px;
        height: 0;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
    }
    /* CARAT */
    
    .dropdown .carat,
    .dropdown .carat:after {
        position: absolute;
        right: -1px;
        top: 50%;
        margin-top: 0px;
        border: 4px solid transparent;
        border-top: 4px solid #c1c1c1;
        z-index: 1;
        -webkit-transform-origin: 50% 20%;
        -moz-transform-origin: 50% 20%;
        -ms-transform-origin: 50% 20%;
        transform-origin: 50% 20%;
    }
    
    .dropdown:hover .carat:after {
        border-top-color: #f4f4f4;
    }
    
    .dropdown.focus .carat {
        border-top-color: #f8f8f8;
    }
    
    .dropdown.focus .carat:after {
        border-top-color: #0180d1;
    }
    
    .dropdown.open .carat {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    /* OLD SELECT (HIDDEN) */
    
    .dropdown .old {
        position: absolute;
        left: 0;
        top: 0;
        height: 0;
        width: 0;
        overflow: hidden;
    }
    
    .dropdown select {
        position: absolute;
        left: 0px;
        top: 0px;
    }
    
    .dropdown.touch select {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    /* SELECTED FEEDBACK ITEM */
    
    .dropdown .selected,
    .dropdown li {
        display: block;
        font-size: 11px;
        overflow: hidden;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 400;
    }
    
    .dropdown .selected::after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 60px;
    }
    /* DROP DOWN WRAPPER */
    
    .dropdown div {
        position: absolute;
        height: 0;
        left: 13px;
        right: 0;
        top: 35px;
        background: #fb4d01;
        overflow: hidden;
        opacity: 0;
        color: #fff;
        width: 90px;
    }
    
    .dropdown:hover div {
        background: #4CB1CA;
    }
    /* Height is adjusted by JS on open */
    
    .dropdown.open div {
        opacity: 1;
        z-index: 2;
    }
    /* FADE OVERLAY FOR SCROLLING LISTS */
    
    .dropdown.scrollable div::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50px;
    }
    
    .dropdown.scrollable.bottom div::after {
        opacity: 0;
    }
    /* DROP DOWN LIST */
    
    .dropdown ul {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        list-style: none;
        overflow: hidden;
        padding: 0;
        background: #fd926d;
    }
    
    .dropdown.scrollable.open ul {
        overflow-y: auto;
    }
    /* DROP DOWN LIST ITEMS */
    
    .dropdown li {
        list-style: none;
        padding: 8px;
        border-bottom: 1px solid #ee4a02;
    }
    
    .dropdown li:last-child {
        border-bottom: 0;
    }
    /* .focus class is also added on hover */
    
    .dropdown li.focus {
        background: #dd6b44;
        position: relative;
        z-index: 3;
        color: #fff;
    }
    
    .dropdown li.active {
        background: #ee4a02;
        color: #fff;
    }
    
    .header_bottom {
        padding: 1.2em 0 1.2em;
    }
    
    .header_bottom-box,
    .menu_box,
    .header_top-box,
    .sellers_grid {
        padding: 0 15px;
    }
    
    .header_bottom_left {
        width: 40%;
        float: left;
    }
    
    .header_bottom_right {
        width: 60%;
        float: right;
    }
    
    i.clock_icon {
        width: 30px;
        height: 30px;
        float: left;
    }
    
    .search {
        float: left;
        width: 70%;
        margin-right: 6%;
    }
    
    .input-group input[type="text"] {
        padding: 15px;
        outline: none;
        color: #B6B2AE;
        background: #fff;
        border: 1px solid #f8d5d1;
        width: 100%;
        line-height: 1.5em;
        font: 500 13px/13px 'Raleway', sans-serif;
        -webkit-appearance: none;
    }
    
    .form-group input[type="text"] {
        padding: 5px;
        outline: none;
        color: #B6B2AE;
        background: #fff;
        border: 1px solid #f8d5d1;
        width: 75%;
        line-height: 1.5em;
        font: 500 13px/13px 'Raleway', sans-serif;
        -webkit-appearance: none;
    }
    .search input[type="text"] {
        padding: 15px;
        outline: none;
        color: #B6B2AE;
        background: #fff;
        border: 1px solid #f8d5d1;
        width: 75%;
        line-height: 1.5em;
        font: 500 13px/13px 'Raleway', sans-serif;
        -webkit-appearance: none;
    }
    
    .search input[type="submit"] {
        background: url('../../dist/images/search.png') no-repeat 24px 10px #e05b5b;
        padding: 12.5px 38px;
        border: none;
        cursor: pointer;
        position: absolute;
        outline: none;
    }
    
    .search input[type="submit"]:hover {
        background: url('../../dist/images/search.png') no-repeat 24px 10px #1bccf7;
    }
    /*--responsive design--*/
    
    @media(max-width:1280px) {
        .search {
            width: 65%;
        }
        .search input[type="text"] {
            width: 75%;
        }
        ul.bag {
            width: 29%;
        }
        ul.clock {
            width: 37%;
        }
        .header_bottom_right {
            width: 50%;
        }
        .search {
            width: 60%;
            margin-right: 5%;
        }
    }
    
    @media(max-width:800px) {
        .search {
            width: 52%;
        }
        .search input[type="submit"] {
            background: url('../../dist/images/search.png') no-repeat 13px 9px #e05b5b;
            padding: 10.5px 25px;
        }
        .search input[type="submit"]:hover {
            background: url('../../dist/images/search.png') no-repeat 13px 9px #1bccf7;
        }
        .search input[type="text"] {
            padding: 13px;
        }
    }
    
    @media(max-width:1024px) {
        .search {
            width: 52%;
        }
        .search input[type="submit"] {
            background: url('../../dist/images/search.png') no-repeat 13px 9px #e05b5b;
            padding: 10.5px 25px;
        }
        .search input[type="submit"]:hover {
            background: url('../../dist/images/search.png') no-repeat 24px 10px #1bccf7;
        }
        .search input[type="text"] {
            padding: 13px;
        }
    }
    
    @media(max-width:768px) {
        .search {
            width: 64%;
        }
    }
    
    @media(max-width:640px) {
        .search input[type="submit"] {
            background: url('../../dist/images/search.png') no-repeat 7px 8px #e05b5b;
            padding: 9.5px 20px;
        }
        .search input[type="text"] {
            padding: 12px;
        }
        .search input[type="submit"]:hover {
            background: url('../../dist/images/search.png') no-repeat 7px 8px #1bccf7;
        }
        .search {
            width: 63%;
        }
    }
    
    @media(max-width:480px) {
        .search input[type="submit"] {
            background: url('../../dist/images/search.png') no-repeat 5px 6px #e05b5b;
            padding: 7.5px 17px;
        }
        .search input[type="submit"]:hover {
            background: url('../../dist/images/search.png') no-repeat 5px 6px #1bccf7;
        }
        .search input[type="text"] {
            padding: 10px;
        }
    }
    
    .node {
        cursor: pointer;
    }
    
    .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    
    .node text {
        font: 10px sans-serif;
    }
    
    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }
    
    .img-treeNode {
        float: left;
        cursor: pointer;
        margin-right: 5px;
    }
    
    .img-treeleaf {
        float: left;
        margin-right: 5px;
    }
    
    .span-treeNode {
        float: left;
        width: 10px;
        height: 20px;
    }
    
    li {
        margin: 0;
        padding: 0;
        list-style-type: none !important;
    }